# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Production build
dist/
build/

# Vercel output
.vercel/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
